RewriteEngine On
RewriteRule ^(css|img|js|source|temp)($|/) - [L]
RewriteRule ^thumb\.(.*)\.(jpg|jpeg|png|gif)$ /img.php?image=$1.$2&mode=thumb [L]
RewriteRule ^(.*)\.(jpg|jpeg|png|gif)$ /img.php?image=$1.$2 [L]
RewriteRule ^(my-gallery|my-settings|logout|register|register-d|login-d|user-list)(/?)$ /users.php?act=$1 [L]
RewriteRule ^(privacy_policy|about_us|rules)\.html$ /info.php?act=$1 [L]
RewriteRule ^(contact_us|file_report)\.html$ /contact.php?act=$1 [L]
RewriteRule ^random-image$ /index.php?do_random=true [L]
RewriteRule ^random/(.*)\.html /viewer.php?is_random=$1&file=$1 [L]
RewriteRule ^gallery$ /gallery.php [L]
RewriteRule ^gallery(/*)([\d+])$ /gallery.php?page=$2 [L]
RewriteRule ^my-gallery/([\d]+)(/?)$ /users.php?act=gallery&page=$1 [L]
RewriteRule ^my-gallery/([\w]*)(/?)([\d]*)(/?)$ /users.php?act=gallery&galname=$1 [L]
RewriteRule ^user-gallery/([\w]*)/([\d]+)(/?)$ /users.php?act=gallery&usergal=$1&page=$2 [L]
RewriteRule ^user-gallery/([\w]*)/([\w]*)(/?)([\d]*)(/?)$ /users.php?act=gallery&usergal=$1&galname=$2&page=$3 [L]
RewriteRule ^user-gallery/([\w]*)(/*)$ /users.php?act=gallery&usergal=$1 [L]
RewriteRule ^profile/(.*)$ /profile.php?view=$1 [L]
RewriteRule ^(.*)\.html$ /viewer.php?file=$1 [L]